language: node_js
node_js:
    - "6"
script: node_modules/karma/bin/karma start karma.config.js
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - webpack
#safelist
branches:
    only:
        - develop